 body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
  width: auto;
  height: auto;
  background: #3b0e68; 
  color: #fff;
}


.mic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.mic::before,
.mic::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  box-shadow: 0 0 20px 20px #1c084f;
  z-index: 2;
}

.mic::before {
  width: 350px;
  height: 350px;
  background-color: #1a084e;
}

.mic::after {
  width: 220px;
  height: 220px;
  background-color: rgba(110, 107, 107, 0.862);  
  animation: circle-size 0.8s linear infinite alternate;
}

.mic-icon {
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%) scale(5);
  display: block;
  height: 10px;
  margin-top: -64px;
  z-index: 3;
} 

 .play-stop {
  font-size: 45px;
  position: absolute;
  top: 80%;
  left: 25%;
  cursor: pointer;
}

 .close-icon {
  font-size: 45px;
  position: absolute;
  top: 80%;
  left: 70%;
  cursor: pointer;
}

 .close-icon:hover {
  color: #ff0000;
}

 .mic-shadow {
  width: 320px;
  height: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  z-index: 1;
  box-shadow: 10px -55px 30px 15px #823ca6, 24px -10px 47px 10px #aab3d2,
    -21px -25px 97px 10px #5acee3, 51px 5px 17px 10px #1b7d8f,
    3px 2px 77px 10px #f30bf5;
  animation: shadow-rotate 1.5s linear infinite;
  transform-origin: center;
} 

.rotating .mic-shadow {
  animation-play-state: running;
}

.mic-shadow {
  animation-play-state: paused;
}




@keyframes circle-size {
  from {
    width: 220px;
    height: 220px;
  }
  to {
    width: 280px;
    height: 280px;
  }
}

@keyframes shadow-rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
} 




 @media screen and (max-width: 425px) {
 
  .mic {
    top: 55%;
  }

  .mic::before {
    width: 280px;
    height: 280px;
  }
  
  .mic::after {
    width: 170px;
    height: 170px;
  }

  .mic-icon {
    font-size: 18px;
    height: 10px;
    margin-top: -45px;
  } 

  .play-stop {
    font-size: 39px;
    top: 86%;
    left: 16%;
  }
  
   .close-icon {
    font-size: 39px;
    top: 86%;
    left: 75%;
  }

  .mic-shadow {
    width: 250px;
    height: 250px;
  } 

  @keyframes circle-size {
    from {
      width: 190px;
      height: 190px;
    }

    to {
      width: 240px;
      height: 240px;
    }
  }

};


 


