:root {
    --background: #0000ff;
    --Font-Size: 20px;
  }
  
  .Forget-form {
    padding: 20px 25px;
    margin-left: 420px;
  }
  
  .forget-form-text h2 {
    font-size: 30px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    margin: 17px 0;
    margin-left: 78px;
    line-height: 44px;
    color: #fff;
  }
  
  .form-coainter-forget {
    width: 60%;
    height: 45%;
    padding: 35px;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #5e5959;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
  }
  
  .form-coainter-forget p {
    margin-left: 70px;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 500;
  }
  
  .form-coainter-forget p span {
    margin-left: 80px;
  }
  
  .form-input-forget input {
    width: 345px;
    height: 43px;
    border-radius: 5px;
    border: 1px solid #000;
    outline: none;
    padding: 5px;
    font-size: 17px;
    margin-top: 17px;
    margin-left: 80px;
    margin-bottom: 5px;
  }
  
  .form-coainter-forget .error-name-for {
    margin-left: 85px;
    position: relative;
    top: -3px;
    font-size: 14px;
    color: red;
  }
  
  .form-links-forget #for-login {
    width: 77%;
    height: 50px;
    align-items: center;
    line-height: 2px;
    margin-left: 80px;
    margin-top: 25px;
    border: 3px solid #0000ff;
    border-radius: 25px;
    background-color: #0000ff;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
  }
  
  .form-links-forget #for-login:hover {
    background-color: #fff;
    color: #000;
  }
  
  .form-links-forget a {
    text-decoration: none;
  }
  
  .form-links-forget h3 {
    width: 40%;
    margin-left: 156px;
    padding: 11px;
    text-decoration: underline;
    text-align: center;
    font-size: 18px;
    margin-top: 21px;
  }
  
  .form-links-forget h3:hover {
    background-color: #5e5959;
    border-radius: 22px;
     text-decoration: none;
  }


  @media screen and (max-width: 425px) {
    .Forget-form {
      padding: 18px 30px;
      margin-left: 0px;
    }

    .forget-form-text h2 {
      font-size: 27px;
      text-align: center;
      margin: 17px 2px;
      line-height: 40px;
    }

    .form-coainter-forget {
      width: 100%;
      height: auto;
      padding: 32px;
    }

    .form-coainter-forget p {
      margin-left: 0px;
      margin-bottom: 12px;
      font-size: 16px;
      text-align: center;
    }

    .form-coainter-forget p span {
      margin-left: 0px;
      line-height: 25px;
    }
    
    .form-input-forget input {
      width: 92%;
      height: 41px;
      padding: 5px;
      font-size: 16px;
      margin-top: 22px;
      margin-left: 0px;
      margin-bottom: 4px;
    }

    .form-coainter-forget .error-name-for {
      margin-left: 6px;
      top: -2px;
      font-size: 13px;
    }

    .form-links-forget #for-login {
      width: 75%;
      height: 47px;
      margin-left: 24px;
      margin-top: 22px;
      font-size: 17px;
    }

    .form-links-forget h3 {
      width: 55%;
      padding: 10px;
      font-size: 15px;
      margin-left: 54px;
      margin-top: 25px;
    }
  }