 .head-password {
    align-items: center;
    padding: 20px 40px;
    margin-left: 420px;
  }

  .head-password .head-text {
    margin: 15px 0;
    margin-left: 58px;
    line-height: 44px;
    font-size: 23px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    color: #fff;
  }

  .conta-iner {
    width: 56%;
    height: 50%;
    padding: 35px;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #5e5959;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
  }
  
  .conta-iner h3 {
    margin-left: -40px;
    margin: 10px 0;
    font-size: 21px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    text-align: center;
  }

  .conta-iner-input input {
    width: 350px;
    height: 45px;
    margin-left: 55px;
    margin-bottom: 2px;
    border: 1px solid #000;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    font-size: 18px;
  }

  #button-pass {
    width: 70%;
    height: 50px;
    align-items: center;
    margin-left: 56px;
    margin-bottom: 10px;
    border: 3px solid #0000ff;
    background-color: #0000ff;
    border-radius: 25px;
    line-height: 2px;
    font-size: 20px;
    margin-top: 18px;
    cursor: pointer;
    color: #fff;
  }

  #button-pass:hover {
    background-color: #fff;
    color: #000;
  }

  .error-name-pssd {
    font-size: 16px;
    margin-left: 60px;
    color: #ff0000;
  }

  #icon-eye-pass {
    position: relative;
    top: 0px;
    left: -38px;
    font-size: 17px;
    cursor: pointer;
    color: #000;
  }
   